.password-input-component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3.5rem 0 0 0;

  & div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0 2rem;

    & div {
      width: 1rem;
      margin: 0 0 0 1rem;
    }
  }

  & input {
    height: 5rem;
    width: 35rem;
    margin: 1rem 0 0 0;
    padding: 0 0 0 2.5rem;
    font-size: 1.4rem;
    font-family: inherit;
    color: inherit;
    background-color: var(--primary-main);
    border-radius: 0.75rem;

    &:hover {
      background-color: var(--primary-background);
    }

    &::placeholder {
      color: var(--primary-main-font-color);
      font-size: 1.5rem;
      letter-spacing: 0.15rem;
    }

    &:focus {
      outline: 0.25rem solid var(--primary-main-font-color);
    }

    &:focus::placeholder {
      color: transparent;
    }
  }
}
