:root {
  --primary-main: rgb(53, 54, 58);
  --primary-main-font-color: rgb(255, 255, 255);
  --primary-off: rgb(237, 174, 73);
  --primary-background: rgb(223, 223, 223, 0.3);
  --dark-transparent-background: rgba(25, 25, 27, 0.9);
  --dark-background: rgb(25, 25, 27);
  --warning: rgb(243, 2, 2);
}

*,
*:before,
*:after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  background-color: lightgray;
  background-image: url('assets/wallpaper.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: var(--primary-main-font-color);
  font-size: 1.4rem;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
}

#root {
  position: relative;
  min-height: 100vh;
}
